#logo_marca{
    width: 30px;
}

.link_migaPan{
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: -7px;
}

#titulo_header h1{
    font-size: 3em;
    padding-left:20px;
    border-left: 10px solid red;
}

#titulo_header h3{
    padding-left:20px;
    color:grey;
}

#redes_header{
    margin-left:20px;
}

#redes_header_share{
    color:red;
    font-weight: bold;
    position: relative;
    top: -15px;
}

#redes_header_comments{
    color:green;
    font-weight: bold;
    position: relative;
    top: -15px;
    left:10px;
}

.link_redes_header img{
    width:50px;
    height:50px;
    margin-left: 10px;
}

#sport_button{
    float:right;
    position: relative;
    top:15px;
    right:20px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
}

.img_articulo{
    width:100%;
    height:500px;
}

.aside_left{
    width:55%;
    float:left;
    margin-bottom: 40px;
}
.aside_right{
    padding-left: 5px;
    width:35%;
    float:right;
    font-size:0.7em;
}

.img_articulo_aside{
    width:100%;
    height:150px;
}

.article_main {
    width: 60%;
    padding-left: 20px;
    margin-left: 20px;
    float: left;
}

aside {
    width: 30%;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    border-left: 1px solid black;
}

.last_aside_article{
    margin-bottom:10px;
}